<%- include('partials/head.ejs')  %> 
<body>
    <%- include('partials/navbar.ejs')  %> 
    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <p><%= pergunta.descricao %> </p>
        <hr>
        <form action="/responder" method="post">
            <h3>Responda</h3>
            <label >Resposta:</label>
            <textarea name="corpo" placeholder="Digite sua resposta" class="form-control"></textarea>
            <input name="perguntaid" type="hidden" value="<%= pergunta.id %> ">
            <br>
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
        <hr>
        <h3>Respostas</h3>
        <hr>
        <% resposta.forEach(resposta=>{%>
            <br>
            <div class="card">
                <div class="card-body">
                    <p><%= resposta.corpo %> </p>
                </div>
            </div>
            <% }) %>  
    </div>
</body>
<%- include('partials/footer.ejs')  %> 